<% if current_user.blank? %>
  <h1>Please Sign In</h1>
  <%= link_to 'Sign In with Github', '/auth/github' %>
<% else %>
  <% @assignments.each do |assignment| %>
    <h1 class="assignment-link"><%= link_to assignment.title, assignment_path(assignment.id) %></h1>
    <% end %>
      <% if current_user.role == "admin" %>
      <p><%= link_to "Add A New Assignment", new_assignment_path %></p>
    <% end %>
<% end %>
