nav {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding-top: 100px;
}

.login {
  display: flex;
  margin-left: 70%;
}

.name {
  margin-right: 20px;
}

.titlebar {
  height: 130px;
  background-color: gray;
}
